

.AreaDados {
  display: flex;
  justify-content: center; /* centralização horizontal */
  align-items: stretch; /* filhos com 100% da altura do pai */
  text-align: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  background-image:url(../../assets/bg.png);
  color: white;
}

.flex-container {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}



i {
  margin-left: 10px;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 35px;
}

.input-group-addon {
  border: 5px hidden transparent;
  background-color: #ffffff;
  z-index: 1;
  color: #2b4898;
  
  border-radius: 5px 0px 0px 5px;
}

#login{
  float: right;
  display: inline;
  
 
}

.show-input-animation{
  animation: show 0.5s ease-in-out;
}


@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}