.card {
    height: 45vh;
    text-align: center;
    padding: 5px;
}

.text {
    text-align: center;
    margin: 10px;
}

.col-sm {
    margin-bottom: 70px;
}

#buttontop {
    float: right;
    margin-left: 70vw;
    margin-bottom: 20px;
}